.about-page {
  .header {
    background-color: #019933ff;
    color: white;
    padding: 20px 0;

    .header-content {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: 36px;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 16px;
        color: white;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap; /* Ensures flex items wrap to new lines if needed */
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;

    .sidebar {
      flex: 1;
      background-color: #9a6534;
      padding: 20px;
      margin-right: 20px;
      color: white;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;
          font-size: 18px;
        }
      }
    }

    iframe {
      width: 100%;
      height: 315px;
      margin-bottom: 20px;
    }

    .main-content {
      flex: 3;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      blockquote {
        font-size: 24px;
        font-weight: bold;
        color: #019933ff;
        margin-bottom: 20px;

        &.highlight {
          background-color: #d9ffdb;
          padding: 20px;
          border-left: 5px solid #019933ff;
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      a {
        color: #9a6534;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .image-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Ensures the cards wrap in smaller screens */
        margin-top: 20px;

        .card {
          background-color: #9a6534;
          padding: 10px;
          text-align: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          color: #fff;
          flex: 1 1 30%; /* Adjusts the width of cards in flex container */
          margin: 10px;

          img {
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
          }

          .card-title {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;

      .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
      }

      .main-content {
        padding: 10px;

        blockquote {
          font-size: 20px;

          &.highlight {
            font-size: 16px;
          }
        }

        p {
          font-size: 14px;
        }

        .image-cards {
          .card {
            flex: 1 1 100%; /* Make cards full width on smaller screens */
          }
        }
      }
    }

    .header-content {
      padding: 0 10px;

      h1 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 480px) {
    .header-content {
      h1 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }

    .content {
      .sidebar {
        padding: 10px;

        h2 {
          font-size: 20px;
        }

        ul {
          li {
            font-size: 16px;
          }
        }
      }

      .main-content {
        padding: 10px;

        blockquote {
          font-size: 18px;

          &.highlight {
            font-size: 14px;
          }
        }

        p {
          font-size: 14px;
        }

        .image-cards {
          .card {
            img {
              height: 150px;
            }

            .card-title {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
