.section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  margin: 20px;
}

.team-column {
  flex-direction: column;
  align-items: center;
  text-align: center;

  flex: 1;
  margin: 0 10px;
  border: 1px solid #c79732;
}

.team-content {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  .teamunderline {
    width: 50px;
    height: 3px;
    background-color: #c79732;
    margin: 10px auto;
  }
}

p {
  color: #777777;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5em;

  margin-bottom: 20px;
}
.img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 5px solid #c79732;
  object-fit: cover; /* Ensure images cover the specified area */
}

.button.recent-button {
  background-color: transparent !important;
  color: #019933ff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #c79732 !important;
  }
}

// .team-link {
//   margin-left: 40px;
// }

@media (max-width: 575.98px) {
  .section-container {
    padding: 30px;

    display: flex;

    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
  }
  .img {
    width: 300px;
    height: 170px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c79732;
  }
  p {
    color: #777777;
    font-family: "Lato";
    font-size: 12px;
    line-height: 1.2em;
    margin: 0 0 10px;
  }
  .button .recent-button {
    padding: 6px 15px;
    font-size: 10px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-container {
    padding: 30px;

    display: flex;

    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
  }
  .img {
    width: 200px;
    height: 110px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c79732;
  }
  p {
    color: #777777;
    font-family: "Lato";
    font-size: 12.5px;
    line-height: 1.2em;
    margin: 0 0 10px;
  }
  .button .recent-button {
    padding: 8px 17px;
    font-size: 10px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-container {
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }
  .img {
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c79732;
  }
  p {
    color: #777777;
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 10px;
  }
  .button .recent-button {
    padding: 9px 18px;
    font-size: 11px;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img {
    width: 320px;
    height: 190px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c79732;
  }
}
