/* CSS HEX */
// --honeydew: #D3EBDBff;
// --eerie-black: #202020ff;
// --white: #FFFDFEff;
// --white-2: #FBFEFFff;
// --forest-green: #019933ff;

/* CSS HSL */
// --honeydew: hsla(140, 37%, 87%, 1);
// --eerie-black: hsla(0, 0%, 13%, 1);
// --white: hsla(330, 100%, 100%, 1);
// --white-2: hsla(195, 100%, 99%, 1);
// --forest-green: hsla(140, 99%, 30%, 1);

/* SCSS HEX */
$honeydew: #d3ebdbff;
$eerie-black: #202020ff;
$white: #fffdfeff;
$white-2: #fbfeffff;
$forest-green: #019933ff;

/* SCSS HSL */
$honeydew: hsla(140, 37%, 87%, 1);
$eerie-black: hsla(0, 0%, 13%, 1);
$white: hsla(330, 100%, 100%, 1);
$white-2: hsla(195, 100%, 99%, 1);
$forest-green: hsla(140, 99%, 30%, 1);

/* SCSS RGB */
$honeydew: rgba(211, 235, 219, 1);
$eerie-black: rgba(32, 32, 32, 1);
$white: rgba(255, 253, 254, 1);
$white-2: rgba(251, 254, 255, 1);
$forest-green: rgba(1, 153, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-right: linear-gradient(
  90deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-left: linear-gradient(
  270deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);
$gradient-radial: radial-gradient(
  #d3ebdbff,
  #202020ff,
  #fffdfeff,
  #fbfeffff,
  #019933ff
);

.navbar-container {
  background-color: $honeydew;
  color: #202020ff;

  width: 100%;
  /* Adjust as needed */
  z-index: 100;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.support-btn {
  background-color: #9a6534 !important;
}

.support-btn:hover {
  background-color: #019933ff !important;
}

.join-btn,
.support-btn {
  padding: 20px 40px;
  border: none;
  background-color: #019933ff; /* Example blue color, adjust as needed */
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.join-btn:hover,
.support-btn:hover {
  background-color: #9a6534; /* Darker blue for hover state */
}

.logo {
  max-width: 120px; /* Adjust based on your logo's size */
  height: auto;
}

.description {
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #019933ff; /* Adjust based on your preference */
  padding: 15px 0;
  min-height: 60px;
  width: 100%;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: relative;
  &:hover .submenu {
    display: block;
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #9a6534;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.nav-subitem {
  text-decoration: none;
  padding: 5px 10px;
  text-transform: uppercase;

  border-bottom: 1px solid #e5e5e5;
  line-height: 28px;
  background-color: #9a6534;

  color: #000;

  display: block;
  width: 100%;

  &:hover {
    background-color: #e4ae7b; // Adjust as needed
    color: #f0f0f0;
  }
}
.nav-item:hover {
  background-color: #9a6534; /* For hover state */
  border-radius: 5px;
}

.bar-icon {
  display: none; /* Initially hide the bar icon */
  cursor: pointer;
}

/* Small Devices (Tablets, 576px and up) */
@media (max-width: 575.98px) {
  .navbar-container {
    padding: 10px;
  }
  .top-section {
    flex-direction: row;
    align-items: flex-start;
  }
  .join-btn,
  .support-btn {
    padding: 9px 18px;
    font-size: 9px;
  }
  .logo {
    max-width: 40px;
  }
  .description {
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-items-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .bar-icon {
    display: block;
    margin-right: 30px;
    color: #fbfeffff;
    font-size: 28px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-container {
    padding: 15px;
  }
  .top-section {
    flex-direction: row;
    align-items: flex-start;
  }
  .join-btn,
  .support-btn {
    padding: 10px 20px;
    font-size: 9px;
  }
  .logo {
    max-width: 55px;
  }
  .description {
    // font-size: 7px;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-items-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .bar-icon {
    display: block;
    margin-right: 20px;
    color: #fbfeffff;
    font-size: 28px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-container {
    padding: 18px;
  }
  .top-section {
    flex-direction: row;
    align-items: center;
  }
  .join-btn,
  .support-btn {
    padding: 12px 25px;
    font-size: 10px;
  }
  .logo {
    max-width: 75px;
  }
  .description {
    font-size: 6px;
    font-weight: bold;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-item {
    font-size: 14px;
    padding: 8px 13px;
    cursor: pointer;
  }
  .bar-icon {
    display: none;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-container {
    padding: 20px;
  }
  .top-section {
    flex-direction: row;
    align-items: center;
  }
  .join-btn,
  .support-btn {
    padding: 15px 30px;
    font-size: 12px;
  }
  .logo {
    max-width: 90px;
  }
  .description {
    font-size: 6px;
    font-weight: bold;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-item {
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
  }
  .bar-icon {
    display: none;
  }
}

/* Extra Large Devices (Extra Large Desktops, 1200px and up) */
// @media (min-width: 1200px) {
//   .navbar-container {
//     padding: 25px;
//   }
//   .top-section {
//     flex-direction: row;
//     align-items: center;
//   }
//   .join-btn,
//   .support-btn {
//     padding: 25px 50px;
//     font-size: 17px;
//   }
//   .logo {
//     max-width: 130px;
//   }
//   .description {
//     font-size: 15px;
//   }
//   .navbar {
//     flex-direction: row;
//     justify-content: space-around;
//   }
//   .nav-item {
//     font-size: 13px;
//     padding: 12px 17px;
//   }
// }
