/* Small Devices (Tablets, 576px and up) */
@media (max-width: 575.98px) {
  .hero-image {
    height: 230px;
    width: 420px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-image {
    height: 300px;
    width: 520px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-image {
    height: 400px;
    width: 720px;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-image {
    height: 650px;
    width: 1440px;
  }
}
