.title {
  text-align: center;
  margin: 2rem 0;
}

.underline {
  width: 10rem;
  height: 0.2rem;
  background-color: black;
  margin: 0 auto;
}

.intro-section {
  background-color: #c79732;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  text-align: justify;
  padding: 0 20px;
  flex: 1 1 50%;
}

.video-text-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.video-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.video-placeholder {
  width: 100%;
  height: 250px;
  background-color: #ccc;
  position: relative;
}

.responsive_video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.video-placeholder video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media (max-width: 575.98px) {
  .video-text-container {
    grid-template-columns: 1fr;
  }

  .video-placeholder {
    height: 200px;
  }

  .text-container {
    text-align: justify;
    padding: 20px;
    font-size: smaller;
  }

  .intro-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100%;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .video-text-container {
    grid-template-columns: 1fr;
  }

  .video-placeholder {
    height: 250px;
  }

  .intro-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100%;
  }

  .text-container {
    padding: 20px;
    width: 100%;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .video-text-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-image {
    height: 400px;
    width: 100%;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .video-text-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-image {
    height: 650px;
    width: 100%;
  }
}

/* Extra Large Devices (1200px and up) */
@media (min-width: 1200px) {
  .video-text-container {
    grid-template-columns: 1fr 1fr;
  }
}
