.recent-section {
  width: 100%;
  padding: 20px;
  background-color: #fffaef;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.recent-text {
  margin-bottom: 2px;
  color: #777777;
  text-align: center;
}

.title h1 {
  color: #c79732;
  margin: 0;
  font-weight: 200;
  font-size: 62px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.recentline {
  width: 7rem;
  height: 0.1rem;
  background-color: #c79732;
  margin: 0 auto;
}

.recent-content {
  width: 90%;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.date {
  text-align: center;
  color: #777777;
}

.recent-link {
  text-decoration: none;
  color: #232323;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.recent-link:hover {
  color: #c79732;
}

.button.recent-button {
  border: 1px solid #c79732;
  text-transform: uppercase;
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.button.recent-button:hover {
  background-color: #202020ff;
  color: #fff;
}

/* Extra Small Devices (Portrait Phones, less than 576px) */
@media (max-width: 575.98px) {
  .title h1 {
    font-size: 32px;
    font-weight: 100;
  }

  .recent-text {
    margin-bottom: 1px;
    font-size: small;
  }

  .recent-content {
    padding: 20px;
    gap: 10px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .title h1 {
    font-size: 36px;
    font-weight: 130;
  }

  .recent-text {
    margin-bottom: 1px;
    font-size: small;
  }

  .recent-content {
    padding: 30px;
    gap: 10px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .title h1 {
    font-size: 48px;
    font-weight: 150;
  }

  .recent-text {
    margin-bottom: 1px;
    font-size: medium;
  }

  .recent-content {
    padding: 40px;
    gap: 12px;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) {
  .title h1 {
    font-size: 62px;
    font-weight: 200;
  }

  .recent-text {
    margin-bottom: 2px;
    font-size: large;
  }

  .recent-content {
    padding: 50px;
    gap: 12px;
  }
}
