.recent-section {
  height: 80%;
  width: 100%;
  padding: 20px;
  background-color: #fffaef;
  justify-items: center;
  align-items: center;
}

// .recent-underline {
//   background-color: #c79732;
// }

.recent-text {
  margin-bottom: 2px;
  color: #777777;
}
.title h1 {
  color: #c79732;
  margin: 0px;
  font-weight: 200;
  font-size: 62px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.recentline {
  width: 7rem;
  height: 0.1rem;
  background-color: #c79732;
  margin-left: auto;
  margin-right: auto;
}
.recent-content {
  width: 90%;

  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  margin: auto;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.date {
  text-align: center;
  color: #777777;
}

.recent-text {
  text-align: center;
  color: #777777;
}

.recent-link {
  text-decoration: none;
  color: #232323;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.recent-link:hover {
  color: #c79732;
}

.button.recent-button {
  border: 1px solid #c79732;
  text-transform: uppercase;
  background-color: transparent; /* Make the button background transparent */
  color: #000; /* Set the button text color */
  padding: 10px 20px; /* Add padding for better button appearance */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s, color 0.3s;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.button.recent-button:hover {
  background-color: #202020ff;
  color: #fff;
}

/* Small Devices (Tablets, 576px and up) */
@media (max-width: 575.98px) {
  .title h1 {
    color: #c79732;
    margin: 0px;
    font-weight: 100;
    font-size: 32px;
  }

  .recent-text {
    margin-bottom: 1px;
    color: #777777;
    font-size: small;
  }

  .recent-content {
    width: 90%;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    margin: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .title h1 {
    color: #c79732;
    margin: 0px;
    font-weight: 130;
    font-size: 36px;
  }

  .recent-text {
    margin-bottom: 1px;
    color: #777777;
    font-size: small;
  }

  .recent-content {
    width: 90%;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    margin: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .title h1 {
    color: #c79732;
    margin: 0px;
    font-weight: 130;
    font-size: 36px;
  }

  .recent-text {
    margin-bottom: 1px;
    color: #777777;
    font-size: small;
  }

  .recent-content {
    width: 90%;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    margin: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
