.title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.underline {
  width: 10rem;
  height: 0.2rem;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.intro-section {
  background-color: #c79732;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  text-align: justify;
  padding: 0 20px;
  flex: 1 1 50%;
}

.video-text-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns layout */
  gap: 20px; /* Adjust gap between video and text */
}

.video-container {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

/* Example styling for video placeholder */
.video-placeholder {
  width: 100%;
  height: 250px;
  background-color: #ccc; /* Placeholder background color */
  position: relative;
}
.responsive_video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.video-placeholder video {
  object-fit: cover;
  height: 100%;
  width: 100;
  position: absolute;
}

/* Small Devices (Tablets, 576px and up) */
@media (max-width: 575.98px) {
  .video-text-container {
    grid-template-columns: 1fr;
  }

  .video-placeholder {
    height: 25 0px;
  }
  .text-container {
    text-align: justify;
    padding: 20px 20px;
    font-size: smaller;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    font-size: medium;
    font-weight: 300;
  }

  .text-container button {
    font-size: small;
    padding: 8px 16px;
  }

  .intro-section {
    background-color: #c79732;
    padding: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100%;
    margin-bottom: 30px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .video-text-container {
    grid-template-columns: 1fr;
  }
  .video-placeholder {
    height: 25 0px;
  }
  .intro-section {
    background-color: #c79732;
    padding: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100%;
    margin-bottom: 15px;
  }

  .text-container {
    text-align: justify;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-image {
    height: 400px;
    width: 720px;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-image {
    height: 650px;
    width: 1440px;
  }
}
